[submodule "frontend"]
	path = frontend
	url = https://github.com/PetersBudgetingApp/website-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/PetersBudgetingApp/backend.git
